

.hero-container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
   background-color: #F6F7F8;
}

.hero-button{
    background-color: #840032;
    padding:14px, 24px, 14px, 24px;
    font-size: 1em;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    margin-top: 0.95em;
    margin-left:0;
}
.left{
    text-align: left;
}

.left,.right{
    max-width: 50%;
    padding: 2em;
}
.left h1{
    font-size: 3em;
    color:#000000;
    padding-bottom: 1rem;
}
.right{
    width: 50%;
}
.right img{
    max-width: 100%;
}
.left p {
    font-size: 1em;
    color: #696969;
    margin-bottom: 1em;
}

@media (max-width: 600px) {
    .hero-container {
        flex-direction: column;
        max-width: 600px;
        width: 100%;
    }
    .left,.right{
        max-width: 100%;
    }
    .right{
        width: 100%;
    }
    .hero-button{
        width: 100%;
    }
}
