.blk{
    color: black;
}

.payement-container{
    max-width: 737px;
    background-color: white;
    border-radius: 0.7rem;
    padding: 24px;
    border-radius: 0.7rem;
    
}

.padding,label{
    padding: 10px;
}

.margin-top{
    margin-top:10px;
}
.payement-input{
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    padding: 10.19px 10px;
}
.add-card{
    width: 100%;
}

/* .block{
    display: block;
} */

