.cart-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

@media(max-width:600px){
    .cart-container{
        flex-direction: column;
    }
}