.header{
    padding: 20px 30px;
    text-decoration: none;
}

.navLink{
    text-decoration: none;
    list-style: none;
  }
  
ul,li{
    text-decoration: none;
    list-style: none;
  }

.top-header{
    background-color: black;
    color: white;
    padding: 20px;
}

.top-header-list{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    margin: 0 auto;
}
.header-right{
    display: flex;
    gap:2em;
    align-items: center;
    justify-content: center;
}
.white-arrow{
    width: 12px;
}