.count-button-container{
    /* padding: 40px; */
    display:flex;
    align-items: center;
    justify-content: center;
    
}


.plus-minus-button {
    display: inline-block;
    background-color: white;
    border: none;
    border-radius: 0.8rem;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    cursor: pointer;
}


.plus-minus-button .plus,
.plus-minus-button .minus {
    display: inline-block;
    width: 20px;
    text-align: center;
}