.main-container{
    background-color: #F6F7F8;
}
.prod-container{
    display: flex;
    gap: 20px;
}

.prod-right,.prod-left{
    padding: 20px;
    max-width: 50%;
}
.orange{
    color: #FF9500;

}
.word{
    max-width: 70%;
    word-wrap: break-word;
    color: black;
}
.top,.bottom>img{
    max-width:80%;
    margin: 0 auto;
}
.bottom{
    display: flex;
    gap: 10px;
    max-width: 190px;
   justify-content: center;
    margin: 0 auto;
}
.prod-right{
    margin: 10px;
}
.prod-car>img{
    width: 20%;
    margin: 0.2em;
    padding: .5em;
}
.prod-price{
    color: black;
    font-size: 1.2em;
    font-weight: 600;
}

.prod-span{
    color:#EF4261;
    font-size: 1rem;
    text-decoration: dashed;
}

.prod-button{
    background-color: #840032;
    padding:14px 24px 14px 24px;
    font-size: 1em;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 1rem;
    margin-top: 0.95em;
    margin-left:0;
}
.alt-button{
    color: #840032;
    background-color: white;
    border: 1px solid #840032;
}

.pro-p-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.sp1{
    color:black;
}
p{
    color: grey;
}

.product-button{
    padding:14px 24px 14px 24px;
    font-size: 1em;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 1rem;
    margin: 0.2em;
   
}
.product-button:active{
    background-color: black;
    color: white;
}

.product-button-container{
    padding: 20px;
}
@media (max-width: 600px) {
    .prod-container{
      flex-direction: column;
      justify-content: center;
    }
  }